[Unit]
Description=linuxmuster: switch local and remote home depending on ad server connection
After=network-online.target
Before=sssd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/linuxmuster-client/scripts/onboot.sh

[Install]
WantedBy=multi-user.target
Alias=adsso.service
